extends layout

block content
    h3 #{user.name}
    each entry in user.entries
      div.entryContainer(id=entry._id) 
        p.date #{entry.date}
        p.entry #{entry.text}
        button.deleteBtn(onClick="window.location.reload()") Delete

    form.newEntry(action=`/user/${user.name}/newPost` method="POST")
      label(for="description") New entry
      textarea(name="description", cols="30", rows="10")
      input(type="submit" value="Add entry")